<!-- views/partials/footer.ejs -->
<div class="container">
  <hr>
  <footer>
    <div class="col-md-6 col-md-offset-3">
      <p class="text-center footer_cont">Copyright &copy; OoOO</p>
    </div>
  </footer>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- <script src="/js/bootstrap-select.js"></script> -->
<script src="/js/typehead.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/js/dropzone.js"></script>
<script src="/js/app.js"></script>
