<% layout('layout') %>
<div class="container">
  <div class="row">
    <div class="col-xs-11 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 col-xs-offset-1">
      <form action="" role="form" method="post">
        <h2>Reset your password </h2>
        <hr class="colorgraph col-sm-11 col-md-11 col-xs-9">
        <div class="row">
          <% if (error.length > 0) { %>
          <div class="col-sm-12 col-xs-12 col-lg-12">
            <div class="alert alert-danger alert-dismissible text-center" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><%= error %> </strong>
            </div>
          </div>
          <% } %>
        </div>
        <div class="row">
          <div class="col-xs-10 col-sm-12 col-md-12">
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="1">
            </div>
          </div>
          <div class="col-xs-10 col-sm-12 col-md-12">
            <div class="form-group">
              <input type="password" name="password1" id="password1" class="form-control input-lg" placeholder="Repeat your Password" tabindex="1">
            </div>
          </div>
          <div class="col-xs-10 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="submit" name="login" value="Reset" class="btn btn-primary btn-block btn-lg" tabindex="3">
            </div>
          </div>
          <div class="col-xs-10 col-sm-6 col-md-6">
            <div class="form-group">
              <a href="/admin/signup" class="btn btn-default btn-block btn-lg">Login</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
